body {
  background: white;
  font-family: Coming Soon, Helvetica, Arial, sans-serif;
  color: #333;
  overflow: hidden;
}

my-dots {
  position: absolute;
  bottom: 8%;
  z-index: 4;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#logo {
  height: auto;
  margin: 0 auto;
}

#logo img {
  width: 200px;
}

#header {
  font-size: 4rem;
  margin: 0 auto;
  animation-name: bounceInDown;
  animation-duration: .75s;
}

#slider {
  position: relative;
  height: inherit;
  width: 100%;
  max-width: 980px;
  padding: 0 80px;
  margin: auto;
  box-sizing: border-box;
  /*for my-dots*/
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#pages {
  overflow: hidden;
}

#slider img {
  width: 100%;
  height: auto;
}

#prev, #next {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 4;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  width: 4rem;
}

#prev {
  left: 0;
}

#next {
  right: 0;
}

#prev:hover img {
  animation: rotateLeft .5s steps(2) 0s 1 none running;
}

#next:hover img {
  animation: rotateRight .5s steps(2) 0s 1 none running;
}

footer {
  height: auto;
  margin: 0 auto;
  text-align: center;
}

footer a {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

footer small:nth-of-type(2) {
  display: block;
  font-size: .7rem;
}

@keyframes rotateRight {
  0%, 50%, 100% {
    transform: rotate(0deg);
  }
  25%, 75% {
    transform: rotate(20deg);
  }
}

@keyframes rotateLeft {
  0%, 50%, 100% {
    transform: rotate(0deg);
  }
  25%, 75% {
    transform: rotate(-20deg);
  }
}

/*https://daneden.github.io/animate.css/*/

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}


/*my-dots div {
  animation-name: bounceIn;
  animation-delay: .5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.11, 0.84, 0.32, 1.000);
  }
  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
  70% {
    transform: scale3d(1.02, 1.02, 1.02);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}*/
